.l-header__nav {
  z-index: 2;
  @apply flex-grow-0 flex justify-center;
}

.l-header-mobile__wrapper {
  position: absolute;
  top: 0;
  left: 0;
  @apply mt-8 ml-20;
}

.c-header-mobile-nav {
  @apply hidden w-6 h-6 cursor-pointer;
}

.c-header-mobile-nav__menu {
}

.c-logo {
  @apply mt-9;
}

.l-nav-list {
  @apply mt-10 mr-10 flex;
}

.l-nav-list__item {
  @apply ml-3;
}

.c-nav {
  @apply cursor-pointer;
}

/* .c-nav__link {
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  @apply mr-12 flex align-middle justify-center subpixel-antialiased
        text-black bg-white
        hover:text-white hover:bg-blue;
} */

/* .c-nav:last-child .c-nav__link {
  @apply bg-blue text-white
    hover:text-blue hover:bg-white;
} */

@screen md {
  .c-nav__link {
    @apply text-sm w-28 py-2;
  }
}

@screen sm {
  .l-header__nav {
    @apply pl-12;
  }

  .c-nav__link {
    @apply text-xs w-24 py-2;
  }
}

@screen xs {
  .l-header__nav {
    @apply px-12;
  }

  .l-nav-list {
    @apply absolute top-12 left-0 bg-off-white
          w-full flex flex-col justify-center;
  }

  .l-nav-list__item {
    @apply w-screen border-t border-blue m-0;
  }

  .l-nav-list__item:last-child {
    @apply border-b border-blue m-0;
  }

  .c-nav__link {
    width: 100vw !important;
    @apply border-none
        text-blue bg-off-white
        hover:text-white hover:bg-blue;
  }

  .c-nav:last-child .c-nav__link {
    @apply bg-off-white text-blue w-screen
    hover:text-white hover:bg-blue;
  }

  .c-header-mobile-nav {
    @apply block mt-12;
  }

  .c-nav__link {
    @apply text-xs w-24 py-2;
  }
}
